# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        63
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        63
        10
        6
        14
        -4
        25
        16
        91
        -1
        33
        115
        0
        113
        76
        15
        -42
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        111
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        63
        -46
        -64
        63
        36
        -110
        28
        117
        -1
        -112
        -24
        127
        68
        -103
        -127
        19
        92
        -1
        -121
        71
        -59
        -3
        -1
        -1
        -65
        -85
        -4
        63
        -125
        85
        -18
        55
        16
        -1
        -8
        -1
        -13
        -69
        -59
        -1
        63
        120
        -19
        101
        -8
        95
        -123
        -51
        -36
        -1
        -33
        -128
        -28
        119
        32
        -3
        -26
        -1
        31
        0
        106
        -104
        11
        -93
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


